<div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
    <a href="{{ path('finance-product-list') }}" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
        <span class="relative text-base font-semibold text-primary dark:text-white">Products</span>
    </a>
    <a href="{{ path('finance-account-book-list') }}" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
        <span class="relative text-base font-semibold text-primary dark:text-white">Account</span>
    </a>
    <a href="{{ path('finance-request-list') }}" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
        <span class="relative text-base font-semibold text-primary dark:text-white">Request</span>
    </a>
</div>
